<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.layman.search.mapper.SearchItemMapper" >
    <select id="getSearchItemList" resultType="com.layman.pojo.SearchItem">
        SELECT
            a.id,
            a.title,
            a.image,
            a.price,
            a.sell_point,
            b.`name` as category_name,
            c.item_desc
        FROM
            tb_item a,
            tb_item_cat b,
            tb_item_desc c
        WHERE
            a.cid = b.id
          AND a.id = c.item_id
    </select>
</mapper>